<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主题</title>
</head>
<body>
{% extends 'learning_blogs/base.html' %}

{% block header %}
    <h1 style="color:DarkOrange">日常</h1>
{% endblock header %}


{% block content %}
    <h3>{{ topic }}</h3>
    <p></p>
    <p>
        <a href="{% url 'learning_blogs:new_entry' topic.id %}">添加</a>
    </p>

    {% for entry in entries %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    {{ entry.date_added|date:'M d, Y H:i' }}
                    <small>
                        <a href="{% url 'learning_blogs:edit_entry' entry.id %}">
                            编辑</a>
                    </small>
                </h3>
            </div>
            <div class="panel-body">
                {{ entry.text|linebreaks }}
            </div>
        </div> <!-- panel -->
    {% empty %}
        还没有录入内容
    {% endfor %}

{% endblock content %}
</body>
</html>